@font-face {
  font-family: 'SF Pro Display Semi Bold';
  src: url('/assets/fonts/SF-Pro-Text-Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display Ultra Light';
  src: url('/assets/fonts/SF-Pro-Text-Ultralight.otf') format('opentype');
}

.hero {
  position: relative;
  align-items: center;
  justify-content: center;
  height: 90vh;
  text-align: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 90rem;
  width: 100%;
  padding: 2rem 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.hero-content h1 {
  font-family: 'SF Pro Display Semi Bold';
  font-size: 64px;
  margin-bottom: 2rem;
}

.hero-content h1 span {
  color: #FF6D6D;
}

.hero-content p {
  font-family: 'SF Pro Display Ultra Light';
  font-size: 20px;
  margin-bottom: 3rem;
}

.hero-image img {
  position: relative;
  margin-top: 2rem;
  width: 100%;
}

.learn-more-button {
  position: relative;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background-color: #000000;
  border: none; /* Remove default border */
  border-radius: 12px;
  padding: 0.5rem 2rem;
  
  cursor: pointer; /* Change cursor to pointer */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transition for hover/active states */
}

.learn-more-button a {
  color: #FFFFFF;
  font-family: 'SF Pro Display Semi Bold';
  font-size: 20px; /* Adjust font size */
  text-decoration: none;
}