.gallery {
  display: flex;
  width: 100vw; /* Make sure the gallery takes the full width of the viewport */
  overflow: hidden;
}

.gallery img {
  flex: 1;
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensure images cover their container */
}
